<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ucv.georef"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>GeoRef</name>

    <description>
        Aplicacion movil que utiliza las facultades de OpenLayers combinadas con jQuery Mobile y Phonegap.
    </description>

    <author href="https://andev.260mb.org" email="andrew4d3@gmail.com">
        Andrew Davis
    </author>
    
    <preference name="phonegap-version" value="2.2.0" />
    
    <icon src="icon.png" />
    
    <access origin="*" />
    
</widget>
